
.env
src/main/resources/application.properties
src/main/resources/application.yml
# Ignore any backups or local property files
*.properties.local
*.yml.local


target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.db


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/


.vscode/
*.code-workspace
.history/


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


*.log
logs/
